*{
    list-style-type: none;
}
.homepage{
    background-image:linear-gradient(rgba(53, 53, 53, 0.4), rgba(126, 126, 126, 0.4)), url('https://images.unsplash.com/photo-1462759353907-b2ea5ebd72e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80');
    background-size: cover;
    box-shadow: 10;
    box-shadow: -3px 25px 20px 4px rgba(73, 73, 73, 0.28);
}
.navbar{
    padding-top: 50px;
}
.navbar img{
    border-radius: 50%;
    background-color: linear-gradient(rgba(53, 53, 53, 0.4), rgba(126, 126, 126, 0.4));
    height: 40px;
    width: 40px;
    margin-right: 40px;
    box-shadow: inset 4px 4px 15px 0px rgb(205, 180, 99);
    box-shadow: 5px 5px 5px 0px rgb(3, 3, 2);
    opacity: .6;
}
#logo{
    height: 80px;
    width: 120px;
    opacity: .8;
}
.navbar-lewagon {
    // [...]
    background-color: transparent;
    transition: 0.5s background-color ease;
  }
  
  .navbar-lewagon-white {
    background-color: white;
  }
  .home-banner {
    background-size: cover;
    height: 100vh;
    color: #eee;
    text-align: center;
    padding-top: 30vh;
  }
  h1{
      font-size: 6rem;
      color: rgba(192, 180, 99, .8);
      text-shadow: 1px 1px 2px white;
  }
  button {
    width: 178px;
    height: 58px;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgb(135, 220, 191);
    outline: none;
    transition: 1s ease-in-out;
    position: relative;
    margin: 40px 20px;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: white;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 2s ease-in-out;
}

button:hover {
    transition: 1s ease-in-out;
    background: rgb(135, 220, 156);
}
button:hover svg {
    stroke-dashoffset: -480;
  }
  
  button span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }
  .container{
      margin-top: 50px;
      padding-top: 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .best, .policies, .knowus {
      background-color: rgba(126, 126, 126, 0.1);
      width: 30%;
      box-shadow: 0 10px 20px rgba(126, 126, 126, 0.4);
      border-radius: 4px;
      padding: 20px;
      text-align: justify;
  }