.banner-title-show {
  background-image: url("https://images.bfmtv.com/1XKifaIkgKYA9YKX4PHOn8q6PVs=/7x5:3623x2039/640x0/images/-141358.jpg");
  background-position: top;
  background-size: cover;
    h2 {
      color: whitesmoke;
      font-size: 46px;
      padding: 100px;
    }
}
