.photos-and-infos {
  display: flex;
  max-height: 450px;
  width: 80%;
  margin: 0 auto;
  img {
    width: 25vw;
    margin-right: 8px;
    object-fit: cover;
    border-radius: 4px;
  }
}

.img-show {
  width: 25vw;
  display: block;
  object-fit: cover;
  height: 50%;
  border-radius: 4px;

  &:first-child {
    padding-bottom: 8px;
  }
}

.description-and-book {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.description-show {
  display: flex;
  flex-direction: column;
    p:first-child {
      font-size: 18px;
    }
    span {
      align-self: flex-end;
    }
}

.book-show {
  display: flex;
  align-self: center;
  justify-self: flex-end;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #7FC8A9;
}

.link-book {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
    p {
      padding: 14px 16px;
      margin-bottom: 0;
    }
}
