<div class="page-container">
  <div class="filter-container">
    <div class="filters col-10 col-md-4 offset-lg-2">
        <div class="formulary card_item bg-grey rounded p-3">
          <form action="" method="get" class="form-example">
            <fieldset for="midget_activity">
            <legend>Search your Midget</legend>          
              <div class="form-example">
                <input type="range" name="Price" id="price" min="0" max="500" value="250" step="10" required>
                <label for="price">Range price</label>
              </div>
              <div class="form-example date_search">
                <label for="start"> From: </label>
                <input type="date" id="start" name="activity_start">
                <label for="end"> to: </label>
                <input type="date" id="end" name="activity_end">
              </div>
              <div class="form-example">
                <input type="submit" value="Search" class="btn_search">
              </div>
            </fieldset>
          </form>
        </div>
    </div>
  </div>
  <div class="card-container">
    <% @offers.each do |offer| %>
      <div class="card">
        <img src="https://source.unsplash.com/random" alt="">
        <div class="description-container">
          <h4><%= offer.title %></h4>
          <p class="offer-description"><%= offer.description %></p>
          <p class="card-price"><%= offer.price %> DogeCoin</p>
          <p><%= link_to 'Book The Midget !', offer, class: "text-decoration-none btn btn-success"%></P>
        </div>
      </div>
    <% end %>
  </div>
</div>
