<div class="banner-title-show">
  <h2><%= @offer.title %></h2>
</div>

<div>
  <div><% @offer.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  </div>
  <div>
    <p></p>
  </div>
</div>

<div>
  <div>
    <%= @offer.description %>
  </div>
  <div><%= link_to "Book This Midget !", new_offer_reservation_path(@offer) %></div>
</div>
