.page-container {
  display: flex;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  padding: 30px;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid black;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
}

.description-container {
  border-top: solid black 0.5px;
  margin-top: 5px;
  padding: 10px;
  padding-bottom: 0px;
}

.card-price {
  text-align: right;
}
