.filter-container {
  position: relative;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 20vh;
  padding: 30px;
  border: 1px solid black;
}
