.filter-container{
    width: 20%;
    padding-left: 30px;
}
.filters{
    width: 100%;
    border: 0;
    padding: 0 !important;
    margin-left: 0;
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
    box-shadow: 0 10px 30px rgba(0,0,0, 0.3);
}
.formulary{
    max-width: 90%;
}
legend{
    font-size: 1.5rem;
    color: rgb(64, 187, 74);
    font-weight: 700;
}
.form-example{
    padding: 20px 0;
}
input {
    border-radius: 3px;
    max-width: 90%;
}
.btn_search{
    color: white;
    background-color: blue;
    border:0;
    opacity: .6;
    padding: 5px 8px;
    box-shadow: 0 10px 30px rgba(0,0,0, 0.3);
}
.btn_search:hover{
    opacity: 1;
}
@media screen and (max-width: 705px) {
  
    .filter-container{
        display: none;
    }
}