.navbar {
  position: sticky;
  top: 1px;
  padding-top: 50px;
  z-index: 10;
  background: linear-gradient(#F3EAF4, rgba(149, 94, 66, .6));

}

.navbar-lewagon {
  justify-content: space-between;
  padding: 1px 0;
  background: transparent;
  text-shadow: 10px 10px 50px #F3EAF4;
  background: linear-gradient(#F3EAF4, rgba(149, 94, 66, .6));
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.dropdown-menu {
  opacity: .8;
  border-radius: 8px;
}

.navbar-lewagon a:hover {
  font-weight: 900;
  color: #F3EAF4;
  text-shadow: 20px 20px 70px #F3EAF4;
}

.navbar-lewagon img:hover {
  box-shadow: 20px 20px 70px #F3EAF4;

}

.navbar img {
  border-radius: 50%;
  background: linear-gradient(#F3EAF4, rgba(149, 94, 66, .6));
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-right: 10px;
}

#logo {
  height: 60px;
  width: 60px;
  opacity: 1;
}

.navbar-lewagon-white {
  background-color: rgba(131, 77, 29, 0.685);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
  height: 120px;
  text-shadow: none;
  box-shadow: none;
}

#burger-menu {
  border-radius: 50%;
  background: transparent;
  text-align: center;
  box-shadow: none;
  color: #F3EAF4;
  border: 0;
  padding: 0px;
  background-color: rgba(255, 255, 255, .3);
}

#burger-menu:hover {
  box-shadow: 0 10px 30px #F3EAF4;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
  opacity: 1;
  top: 50px;
  right: 10px;
}
