.container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  background-color: #955E42 ;
  padding: 8px;
}

.card-product {
  flex-direction: row;
  display: flex;
  overflow: hidden;
  height: 200px;
  background: #F3EAF4 ;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  align-items: center;
  margin-bottom: 24px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-pic {
  padding-right: 8px;
  & img {
    width: 300px;
    height: 200px;
  }
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
